.hidden { 
    display: none;
}

body { 
    font-family: 'Rowdies', sans-serif;
    font-size: 36px;
    background-color: #06181f;
    color: #fff; 
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Tinos', sans-serif;
    font-size: 20px;
    margin: 7px; 
    padding: 5px; 
}

/* SVG Icons */ {
box-sizing: border-box;
}

.icon-container {
    padding: 10px; 
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-container div {
    width: 50%;
    position: relative;
    justify-content: space-between;

}

/* How I was able to space the icon */

.icon-container .ingredient-strawberry {
    width: 200px; 
}

.icon-container .ingredient-strawberry path {
    stroke-width: 10;
}

.icon-container .ingredient-mango {
    width: 200px; 
}

.icon-container .ingredient-mango path {
    stroke-width: 10;
}

.icon-container .ingredient-pomegranate {
    width: 200px; 
}

.icon-container .ingredient-pomegranate path {
    stroke-width: 10;
}

.icon-container .ingredient-grape {
    width: 200px; 
}

.icon-container .ingredient-grape path {
    stroke-width: 10;
}

.icon-container .ingredient-pineapple {
    width: 200px; 
}

.icon-container .ingredient-pineapple path {
    stroke-width: 10;
}

.icon-container .ingredient-lemon {
    width: 200px; 
}

.icon-container .ingredient-lemon path {
    stroke-width: 10;
}

.icon-container .ingredient-strawberry path {
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}

/* This is how the animations take place */

.icon-container .ingredient-strawberry:hover path {
    animation: animate-strawberry 1s linear forwards
}
@keyframes animate-strawberry
{ 
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 1560;
    }
    80%
    {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100%
    {
        stroke-dashoffset: 3120;
        fill: #31e8ff;
    }
}

.icon-container .ingredient-mango path {
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}

.icon-container .ingredient-mango:hover path {
    animation: animate-mango 1s linear forwards
}
@keyframes animate-mango
{ 
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 1560;
    }
    80%
    {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100%
    {
        stroke-dashoffset: 3120;
        fill: #F4BB44;
    }
}

.icon-container .ingredient-pomegranate path {
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}

.icon-container .ingredient-pomegranate:hover path {
    animation: animate-pomegranate 1s linear forwards
}
@keyframes animate-pomegranate
{ 
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 1560;
    }
    80%
    {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100%
    {
        stroke-dashoffset: 3120;
        fill: #0d76f5;
    }
}

.icon-container .ingredient-grape path {
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}

.icon-container .ingredient-grape:hover path {
    animation: animate-grape 1s linear forwards
}
@keyframes animate-grape
{ 
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 1560;
    }
    80%
    {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100%
    {
        stroke-dashoffset: 3120;
        fill: #fff;
    }
}

.icon-container .ingredient-pineapple path {
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}

.icon-container .ingredient-pineapple:hover path {
    animation: animate-pineapple 1s linear forwards
}
@keyframes animate-pineapple
{ 
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 1560;
    }
    80%
    {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100%
    {
        stroke-dashoffset: 3120;
        fill: #F4FAFC00;
    }
}

.icon-container .ingredient-lemon path {
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}

.icon-container .ingredient-lemon:hover path {
    animation: animate-lemon 1s linear forwards
}
@keyframes animate-lemon
{ 
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 1560;
    }
    80%
    {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100%
    {
        stroke-dashoffset: 3120;
        fill: #32CD32;
    }
}










