.hidden { 
    display: none;
}

body { 
    font-family: 'Rowdies', sans-serif;
    font-size: 36px;
    background-color: #06181f;
    color: #fff; 
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Tinos', sans-serif;
    font-size: 16px;
    margin: 5px; 
    padding: 1px; 
}

/* SVG Icons */ {
box-sizing: border-box;
}

.icon-container {
    padding: 10px; 
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-container div {
    width: 50%;
    position: relative;
    justify-content: space-between;

}

.icon-container .ingredient-strawberry {
    width: 200px; 
}

.icon-container .ingredient-strawberry path {
    stroke: 10;
}

[class*="ingredient-"] {
    display: block;
}
[class*="ingredient-"]:before {
    content:'';
    display: block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat; 
    background-size: contain; 
    -webkit-background-size: contain;
}
